body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 702px;
	background-color: #c2c2c2;
	box-sizing: border-box;
}

#root,
.App {
	width: 100%;
	height: 100%;
}


/*舞台*/

.stage {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}


/*图片样式start*/

.stage .image-item {
	position: absolute;
	background-color: #ddd;
	width: 320px;
	height: 360px;
	margin: 0;
	padding: 40px;
	box-sizing: border-box;
	background: #fff;
	cursor: pointer;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, .1);
	transform-origin: 0 50% 0;
	transform-style: preserve-3d;
	transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;
}

.stage .image-item.active {
	z-index: 999;
}

.stage .image-item.active.isInverse {
	transform: translate(320px) rotateY(180deg);
}

.stage .image-item h2 {
	font-size: 16px;
	color: #a7a0a2;
	margin-top: 20px;
	text-align: center;
}

.img-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 50px 40px;
	overflow: auto;
	color: #a7a0a2;
	font-size: 22px;
	line-height: 1.25;
	text-align: left;
	background-color: #fff;
	box-sizing: border-box;
	transform: rotateY(180deg) translateZ(1px);
	backface-visibility: hidden;
}


/*图片样式end*/


/*导航按钮start*/

.App .controller-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	z-index: 1111;
	text-align: center;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
}

.App .controller-nav span {
	display: inline-block;
	margin: 0 5px;
	padding: 0 10px;
	cursor: pointer;
}

.App .controller-nav span.active {
	background: red;
	color:#fff;
}


/*导航按钮end*/


/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/